body {
	background-image: url(./img/fondo.png);
	background-size: contain;
}

.cabecera{
	background-image: url(./img/header.jpeg);
	background-size: cover;
}

.transparencia {
	background-color: rgba(0,0,0,.5);
}

.bg-light-gray-overlay {
	background-color: rgba(255,255,255,.3);
}

.text-transparent-white {
	color: rgba(255,255,255,.5);
}

.border-2 {
	border-width: 2px;
}

.rounded-1 {
	border-radius: .5rem !important;
}

.shadow-light {
	box-shadow: 0  20px 50px rgba(255, 255, 255, 0.8);
}

.h-min-content {
	height: min-content;
}

.opacity-0 {
	opacity: 0;
}
.parrafo{
    padding: 30px;
    
}
.bg-footer{
	background-color: rgba(255, 255, 255, 0.688);
}